{% extends 'mainapp/base.html' %}

{% block content %}

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for movie in movies %}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{ movie.movie_image.url }}" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ movie.title }}</h5>
                    <!-- Product price-->
                    <div class="bi-star-fill"> {{ movie.rating }}</div>
                    <p>{{ movie.genre }}</p>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ movie.get_absolute_url }}">Просмотр</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}